{% comment %}
  Hacky strip of protocol to the link to GitLab
{% endcomment %}
{% assign gitlab_link = site.gitlab.repo %}
{% assign gitlab_link = gitlab_link | append: site.baseurl | replace: '//', '/' | replace: 'https:/', 'https://' %}
{% assign gitlab_link = gitlab_link | append: '/blob/master' %}
{% if page.title == "Home" %}
  {% assign gitlab_link = gitlab_link | append: '/index.md' %}
{% endif %}
{% assign gitlab_link = gitlab_link |append: page.url | replace_first: '.html', '.md' %}

<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            {% if page.title %}<h1 id="page-title" class="mdl-typography--title">{{ page.title }}</h1>{% endif %}
          </span>
          {% if site.gitlab != false %}
            <div class="mdl-layout-spacer"></div>
            <h2 class="mdl-typography--caption">
              Verbessere mich auf GitLab 
            </h2>
            <a href="{{ gitlab_link }}" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">create</i>
            </a>
          {% endif %}
          {% if site.search != false %}
            <div class="mdl-layout-spacer"></div>
            <a href="{{ site.baseurl }}{% link assets/search.html %}" class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">search</i>
            </a>
          {% endif %}
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
          {% if site.logo %}
            <img src="{{ site.logo | absolute_url }}" alt="" id="site-logo">
          {% endif %}
          <a id="site-title" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
        </span>
        <nav class="mdl-navigation">
          {% include menu.html %}
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="content">
            {{ content }}
          </div>
        </div>
      </main>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
